# Edit and save this file to a file named build.properties.
versionName=1.0.0
key-store=/mnt/z/docs/devkeys/android_release_key.keystore
key-store-password=P4ssw0Rd
key-alias=android_release_key
key-alias-password=P4ssw0Rd
deploy-folder=/mnt/z/s/apache_www/static/tmp/
