# Edit and save this file to a file named build.properties.
versionName=1.0.0
signingStoreFile=/home/jsmith/devkeys/android_release_key.keystore
signingStorePassword=changeme
signingKeyAlias=android_release_key
signingKeyPassword=changeme
deployFolder=/www/public/apk/
apiKeyGoogleMaps=aaabbbcccddd000111222333444
apiKeyFabric=aaabbbcccddd000111222333444