<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jraf.android.bikey"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name="org.jraf.android.bikey.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme" >

        <!-- Provider -->
        <provider
            android:name="org.jraf.android.bikey.backend.provider.BikeyProvider"
            android:authorities="org.jraf.android.bikey.backend.provider"
            android:exported="false" />

        <!-- Data collecting service -->
        <service android:name="org.jraf.android.bikey.backend.LogCollectorService" />

        <!-- Activity recognition service -->
        <service android:name="org.jraf.android.bikey.backend.location.ActivityRecognitionIntentService" />

        <!-- Session list -->

        <activity
            android:name="org.jraf.android.bikey.app.ride.list.RideListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Session edit -->
        <activity
            android:name="org.jraf.android.bikey.app.ride.edit.RideEditActivity"
            android:windowSoftInputMode="stateVisible" />

        <!-- Hud -->
        <activity
            android:name="org.jraf.android.bikey.app.hud.HudActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Hud" />

        <!-- Save to storage -->
        <activity
            android:name="org.jraf.android.bikey.app.savetostorage.SaveToStorageActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/ic_save_to_storage"
            android:label="@string/saveToStorage_label"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="message/rfc822" />
            </intent-filter>
        </activity>
    </application>

</manifest>