<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.jraf.android.bikey"
    android:versionName="${versionName}"
    tools:ignore="MissingVersion" >

    <!-- android:sharedUserId="org.jraf.android" -->

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="org.jraf.android.bikey.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_actionbar_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme" >

        <!-- Meta data for Maps api -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_keys" />

        <!-- Provider -->
        <provider
            android:name="org.jraf.android.bikey.backend.provider.BikeyProvider"
            android:authorities="org.jraf.android.bikey.backend.provider"
            android:exported="false" />

        <!-- Data collecting service -->
        <service android:name="org.jraf.android.bikey.app.collect.LogCollectorService" />

        <!-- Ride list -->
        <activity
            android:name="org.jraf.android.bikey.app.ride.list.RideListActivity"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/Theme.ActionBarLogo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ride edit -->
        <activity
            android:name="org.jraf.android.bikey.app.ride.edit.RideEditActivity"
            android:windowSoftInputMode="stateVisible" />

        <!-- Ride detail -->
        <activity
            android:name="org.jraf.android.bikey.app.ride.detail.RideDetailActivity"
            android:label="@string/ride_detail_title" />

        <!-- Hud -->
        <activity
            android:name="org.jraf.android.bikey.app.hud.HudActivity"
            android:exported="true"
            android:parentActivityName="org.jraf.android.bikey.app.ride.list.RideListActivity"
            android:theme="@style/Theme.Hud" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.jraf.android.bikey.app.ride.list.RideListActivity" />
        </activity>

        <!-- Save to storage -->
        <activity
            android:name="org.jraf.android.bikey.app.savetostorage.SaveToStorageActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/ic_save_to_storage"
            android:label="@string/saveToStorage_label"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="message/rfc822" />
            </intent-filter>
        </activity>

        <!-- Preference -->
        <activity
            android:name="org.jraf.android.bikey.app.preference.PreferenceActivity"
            android:label="@string/preference_title" />

        <!-- About -->
        <activity
            android:name="org.jraf.android.bikey.app.about.AboutActivity"
            android:label="@string/about_title" />

        <!-- Home screen shortcut -->
        <activity
            android:name="org.jraf.android.bikey.app.shortcut.ShortcutActivity"
            android:label="@string/shortcut_title"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Media button -->
        <receiver android:name="org.jraf.android.bikey.app.mediabutton.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>